# Python Basics

## Usefull links
- [Python documentation](https://docs.python.org/3/)
- [Intro to Python - Practice](http://introtopython.org/hello_world.html)
- [Q&A - StackOverflow](https://stackoverflow.com/questions/tagged/python)
- [Dive into Python - Book](https://diveintopython3.net/)

## Logical Operators

In [1]:
a = True
b = False

In [2]:
a& b # AND

False

In [3]:
a | b # OR

True

## Python Tokens
Smallest meaningful Component in a Program
- Kyewords
    - special reserved words. e.g. None, For, Is, Return etc.
- Identifiers
    - names used for variable, fucntions or objects
- Literals
    - constants in Python
- Operators

## Strings

In [4]:
s1 = "Hello world"

In [5]:
s2 = ''' this is a multiline
string 
in python'''

In [6]:
s2

' this is a multiline\nstring \nin python'

In [7]:
s1[0]

'H'

In [8]:
s1[-1]

'd'

In [9]:
len(s1)

11

In [10]:
s1.lower()

'hello world'

In [11]:
s1.upper()

'HELLO WORLD'

In [12]:
s1.upper()[:5]

'HELLO'

In [13]:
s1.replace('o', '#') # replace o with #

'Hell# w#rld'

In [14]:
s1.count('l') # count of substring

3

In [15]:
s1.find('world') # find the index for the starting of the word

6

In [16]:
s1[s1.find('world'):s1.find('world')+len('world')] # extract word from string

'world'

In [17]:
s2.split('\n') # split with a key delimiter

[' this is a multiline', 'string ', 'in python']

## Lists

In [18]:
l1 = ["dany", "amol", 'zepra', 'corrie', 'kogan']
id(l1)

2150236539200

In [19]:
l1

['dany', 'amol', 'zepra', 'corrie', 'kogan']

In [20]:
l1.reverse()

In [21]:
l1

['kogan', 'corrie', 'zepra', 'amol', 'dany']

In [22]:
id(l1)

2150236539200

In [23]:
l1.insert(1, "dora")
l1

['kogan', 'dora', 'corrie', 'zepra', 'amol', 'dany']

In [24]:
l1.sort()
l1

['amol', 'corrie', 'dany', 'dora', 'kogan', 'zepra']

In [25]:
id(l1)

2150236539200

In [26]:
l1[1]

'corrie'

## Dictionary

- Lists and Tuple - are **Ordered** collection
- Dictionary - is **Unordered** collection
- Sets - is **Unordered and Unindexed** collection

In [27]:
fruit = {'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100}

In [28]:
fruit.keys()

dict_keys(['apple', 'banana', 'orange', 'peach'])

In [29]:
fruit.values()

dict_values([10, 30, 40, 100])

In [30]:
fruit.items()

dict_items([('apple', 10), ('banana', 30), ('orange', 40), ('peach', 100)])

In [31]:
fruit

{'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100}

In [32]:
fruit2 = {'guava': 40, 'grapes': 60}

In [33]:
fruit.update(fruit2) # Update one dictionary elements with another

In [34]:
fruit

{'apple': 10,
 'banana': 30,
 'orange': 40,
 'peach': 100,
 'guava': 40,
 'grapes': 60}

In [35]:
fruit.pop('grapes')
fruit

{'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100, 'guava': 40}

## Sets

In [36]:
set1 = {1, "sparta", 2, "sparta"} # no duplicates
set1

{1, 2, 'sparta'}

In [37]:
set1.add("hello")
set1

{1, 2, 'hello', 'sparta'}

In [38]:
set1.update(["abc",3,'jack'])
set1

{1, 2, 3, 'abc', 'hello', 'jack', 'sparta'}

In [39]:
set1.remove('abc')
set1

{1, 2, 3, 'hello', 'jack', 'sparta'}

In [40]:
set1.remove(3)
set1

{1, 2, 'hello', 'jack', 'sparta'}

In [41]:
# set has union and intersection method

In [42]:
10/3

3.3333333333333335

In [43]:
10//3

3

## Functions

In [44]:
# Lambda
g = lambda x: x*x*x
print(g(7))

343

In [45]:
# lambda with filter
li = [5,7,22,97,54,62,77,23,73,61]
list(filter(lambda x: (x%2 !=0), li )) # find all odd numbers

[5, 7, 97, 77, 23, 73, 61]

In [46]:
# lambda with map
list(map(lambda x: x*2, li))

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [47]:
from functools import reduce
reduce((lambda x, y: x+y), li)

481

# random practise

In [48]:
tup = (10, 20, 30, 40, 50)
tup.pop()
print(tup)

AttributeError: 'tuple' object has no attribute 'pop'

In [49]:
def displayPerson(*args):
    for i in args:
        print(i)

displayPerson(name="Emma", age="25")

TypeError: displayPerson() got an unexpected keyword argument 'name'

In [50]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [52]:
y = 5
z = lambda x : x * y
print (z(6))

30

In [53]:
print ("Hello World"[::-1])

dlroW olleH

In [57]:
[1,2,3]-[3,2,1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'