# Python Basics

## Usefull links
- [Python documentation](https://docs.python.org/3/)
- [Intro to Python - Practice](http://introtopython.org/hello_world.html)
- [Q&A - StackOverflow](https://stackoverflow.com/questions/tagged/python)
- [Dive into Python - Book](https://diveintopython3.net/)

## Logical Operators

In [2]:
a = True
b = False

In [3]:
a& b # AND

False

In [4]:
a | b # OR

True

## Python Tokens
Smallest meaningful Component in a Program
- Kyewords
    - special reserved words. e.g. None, For, Is, Return etc.
- Identifiers
    - names used for variable, fucntions or objects
- Literals
    - constants in Python
- Operators

## Strings

In [5]:
s1 = "Hello world"

In [6]:
s2 = ''' this is a multiline
string 
in python'''

In [7]:
s2

' this is a multiline\nstring \nin python'

In [8]:
s1[0]

'H'

In [9]:
s1[-1]

'd'

In [10]:
len(s1)

11

In [11]:
s1.lower()

'hello world'

In [12]:
s1.upper()

'HELLO WORLD'

In [13]:
s1.upper()[:5]

'HELLO'

In [15]:
s1.replace('o', '#') # replace o with #

'Hell# w#rld'

In [17]:
s1.count('l') # count of substring

3

In [18]:
s1.find('world') # find the index for the starting of the word

6

In [22]:
s1[s1.find('world'):s1.find('world')+len('world')] # extract word from string

'world'

In [28]:
s2.split('\n') # split with a key delimiter

[' this is a multiline', 'string ', 'in python']

## Lists

In [36]:
l1 = ["dany", "amol", 'zepra', 'corrie', 'kogan']
id(l1)

2917684144320

In [30]:
l1

['dany', 'amol', 'zepra', 'corrie', 'kogan']

In [31]:
l1.reverse()

In [32]:
l1

['kogan', 'corrie', 'zepra', 'amol', 'dany']

In [37]:
id(l1)

2917684144320

In [33]:
l1.insert(1, "dora")
l1

['kogan', 'dora', 'corrie', 'zepra', 'amol', 'dany']

In [34]:
l1.sort()
l1

['amol', 'corrie', 'dany', 'dora', 'kogan', 'zepra']

In [38]:
id(l1)

2917684144320

In [35]:
l1[1]

'corrie'

## Dictionary

- Lists and Tuple - are **Ordered** collection
- Dictionary - is **Unordered** collection
- Sets - is **Unordered and Unindexed** collection

In [1]:
fruit = {'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100}

In [2]:
fruit.keys()

dict_keys(['apple', 'banana', 'orange', 'peach'])

In [3]:
fruit.values()

dict_values([10, 30, 40, 100])

In [4]:
fruit.items()

dict_items([('apple', 10), ('banana', 30), ('orange', 40), ('peach', 100)])

In [5]:
fruit

{'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100}

In [6]:
fruit2 = {'guava': 40, 'grapes': 60}

In [7]:
fruit.update(fruit2) # Update one dictionary elements with another

In [8]:
fruit

{'apple': 10,
 'banana': 30,
 'orange': 40,
 'peach': 100,
 'guava': 40,
 'grapes': 60}

In [10]:
fruit.pop('grapes')
fruit

{'apple': 10, 'banana': 30, 'orange': 40, 'peach': 100, 'guava': 40}

## Sets

In [12]:
set1 = {1, "sparta", 2, "sparta"} # no duplicates
set1

{1, 2, 'sparta'}

In [14]:
set1.add("hello")
set1

{1, 2, 'hello', 'sparta'}

In [16]:
set1.update(["abc",3,'jack'])
set1

{1, 2, 3, 'abc', 'hello', 'jack', 'sparta'}

In [17]:
set1.remove('abc')
set1

{1, 2, 3, 'hello', 'jack', 'sparta'}

In [18]:
set1.remove(3)
set1

{1, 2, 'hello', 'jack', 'sparta'}

In [19]:
# set has union and intersection method

In [20]:
10/3

3.3333333333333335

In [21]:
10//3

3

## Functions

In [22]:
# Lambda
g = lambda x: x*x*x
print(g(7))

343

In [23]:
# lambda with filter
li = [5,7,22,97,54,62,77,23,73,61]
list(filter(lambda x: (x%2 !=0), li )) # find all odd numbers

[5, 7, 97, 77, 23, 73, 61]

In [24]:
# lambda with map
list(map(lambda x: x*2, li))

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [25]:
from functools import reduce
reduce((lambda x, y: x+y), li)

481