# Data Types

In [1]:
i = 10

In [2]:
type(i)

int

In [3]:
# i is an object which holds integer data type

In [12]:
s = "Great Learning"

In [13]:
print(type(s))

<class 'str'>

In [14]:
len(s)

14

## Indexing and Slicing

In [8]:
# fro any indexing operation, the syntax is [] --> subscript operator

In [9]:
# Python index always start from 0

In [10]:
s[1]

'r'

In [15]:
s[14]

IndexError: string index out of range

In [16]:
s = "WELCOME"

In [17]:
len(s)

7

In [21]:
s[6]

'E'

In [19]:
s[-1] # negative index

'E'

In [22]:
# start:end:skipcount

In [23]:
s[0:3]

'WEL'

In [29]:
s[0::2]

'WLOE'

In [30]:
s[-7:-4]

'WEL'

In [31]:
#mix of the positive and negative indexing
s[0:-4]

'WEL'

In [35]:
s[::3]

'WCE'

In [ ]:
s[::]

In [36]:
msg = "Welcome to 1st support session on Python. Hope your are enjoying the session. Feel free to ask if any doubts"

In [44]:
msg[-6:]

'doubts'

## Arithmetic operations

In [45]:
18/4

4.5

In [46]:
18//4 # floor operations

4

In [47]:
18%4 # modulo operations

2

In [48]:
s

'WELCOME'

In [52]:
(s+" ")*10

'WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME '

## Lists
- Ordered collection of Items
- Syntax: []
- MUTABLE

In [53]:
languages = ["Python", "C", "C++", "Java"]

In [54]:
type(languages)

list

In [55]:
len(languages)

4

In [56]:
languages[0]

'Python'

In [58]:
languages[-1]

'Java'

In [59]:
languages.insert(1, "Ruby")

In [60]:
languages

['Python', 'Ruby', 'C', 'C++', 'Java']

In [62]:
languages.remove("Java")
languages

['Python', 'Ruby', 'C', 'C++']

In [65]:
languages.pop(1) # pop out the value in index 1 and prints the poped value

'C'

In [68]:
numlist = [100, 200, 300]

In [69]:
len(numlist)

3

In [70]:
languages.append(numlist)

In [71]:
languages

['Python', 'C++', [100, 200, 300]]

In [72]:
### extend --> each element of the one list will be appended to another list.

In [73]:
languages.extend(numlist)

In [74]:
languages

['Python', 'C++', [100, 200, 300], 100, 200, 300]

In [75]:
# finding the index from the list

In [78]:
languages.index(100)

3

In [79]:
# inoperator

In [80]:
"C" in languages

False

In [81]:
"C++" in languages

True

In [90]:
languages.count("C++")

1

## Tuples
- Order collection of items
- Syntax: ()
- IMMUTABLE

In [91]:
locations = ("Bangalore", "Hyderabad", "Chennai", "Delhi")

In [93]:
locations

('Bangalore', 'Hyderabad', 'Chennai', 'Delhi')

In [95]:
locations.count("Chennai")

1

In [96]:
locations[1:3]

('Hyderabad', 'Chennai')

In [97]:
player = "Virat", 37, "RGB" # this will pack them into tuple

In [100]:
print(type(player), player)

<class 'tuple'> ('Virat', 37, 'RGB')

In [103]:
name, age, team = "MSD", 40, "CSK"

In [104]:
name

'MSD'

In [108]:
id(age)

140714103290880

In [109]:
d = [1,2,3]

## Dictionary 
- collection of key - value pairs
- Indexed by []
- Syntax: { }
- Mutable

In [111]:
d = {"a": "apple", "b": "Banana", "c": "Cherry"}

In [112]:
d

{'a': 'apple', 'b': 'Banana', 'c': 'Cherry'}

In [113]:
print(type(d))

<class 'dict'>

In [114]:
len(d)

3

In [115]:
id(d)

2303908468416

In [116]:
id(d["a"])

2303875644080

In [117]:
d["a"] = "Green apple"

In [118]:
id(d["a"])

2303909987824

In [119]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [120]:
d.values()

dict_values(['Green apple', 'Banana', 'Cherry'])

In [121]:
"a" in d

True

In [122]:
"Banana" in d

False

In [123]:
"Banana" in d.values()

True

In [124]:
del d["b"]

In [125]:
d

{'a': 'Green apple', 'c': 'Cherry'}

In [126]:
d.items()

dict_items([('a', 'Green apple'), ('c', 'Cherry')])

In [127]:
# Range
# start <> end <> stepcount
# it is a iterator type

In [128]:
r = range(10)
r

range(0, 10)

In [130]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [135]:
list(range(5, 50, 5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [136]:
list(range(50, 5, -5))

[50, 45, 40, 35, 30, 25, 20, 15, 10]

## Sets
- Unique collection fo items
- {}

In [139]:
a = set("BANGALORE")

In [140]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [141]:
b = set("SINGAPORE")

In [142]:
b

{'A', 'E', 'G', 'I', 'N', 'O', 'P', 'R', 'S'}

In [143]:
a | b

{'A', 'B', 'E', 'G', 'I', 'L', 'N', 'O', 'P', 'R', 'S'}

In [144]:
a -b

{'B', 'L'}

In [145]:
b -a

{'I', 'P', 'S'}

In [146]:
a & b

{'A', 'E', 'G', 'N', 'O', 'R'}

## Taking user inputs
- input is the function to take user inputs
- It always retuns a string

In [147]:
n = input("Enter your name:")

Enter your name:many

In [148]:
print(n)

many

In [149]:
num = int(input("Enter number:"))

Enter number:8

In [150]:
if num % 3 ==0:
    print("divisible by 3")